* {
    margin: 0;
}
.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: lightgray;
    line-height: 2rem;
    width: 60%;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: darkblue;
    text-shadow: 2px 2px 4px grey;
    font-size: 150%;
    box-sizing: content-box;
}
.menu a:hover {
    background-color: darkgray;
}
h3 {
    margin: 10px 0;
}
.list {
    border: 1px solid #000;
    width: 40%;
    background-color: bisque;
    margin: 10px 15px;
    padding: 10px 15px;
    font-family: "Arial", serif;
    font-size: 1em;
    font-style: italic;
}
.film_detail {
    background: linear-gradient(65deg, lightblue, lightcoral);
    padding: 10px 15px;
    margin: 15px 20px;
    width: 25%;
    height: auto;
    border-radius: 10px 25px;
    box-shadow: 3px 3px 5px black, -3px -3px 5px blue;
}
.film_detail p {
    margin-left: 5%;
    font-size: 18px;
    font-style: italic;
}
.film_detail span {
    font-size: 20px;
    font-weight: normal;
}
.film_list,
.film_list1 {
    font-size: 20px;
    font-family: -apple-system, sans-serif;
    text-decoration: underline;
    font-style: italic;
    margin-left: 40px;
}
.film_list1 {
    margin-left: 50px;
    font-size: 16px;
}
.subscribe_page {
    margin: 20px;
}
.subscribe {
    font-size: 16px;
    padding: 5px;
    background: lightsalmon;
    width: 75px;
    margin: 10px 25px 0 0;
    border: none;
    border-radius: 6px;
    box-shadow: 2px 2px 4px black;
    cursor: pointer;
}
.subscribe:hover {
    background: darksalmon;
    font-weight: bold;
    width: 76px;
}